static
templates
*.pyc
static/GFSBodoniClassic.otf
static/GFSPolyglot.otf
static/IMFeENsc28P.ttf
static/jquery.js
static/jquery-ui.js
static/jquery-ui.css
quellen.pyc
*.pyc
*.txt
*.log
run_gunicorn.sh
